<html>

<head>
<title>Strategy Description</title>
</head>

<body>
<h2>Strategy Description</h2>
<h4>Underlying Asset:</h4>
<p>UST 10Yr Swaps Index (Bloomberg ID: MSSIUS10)</p>

<h4>Procedures:</h4>
<p>Take short position: If the current UST 10Yr Swap exceeds the historical average price plus one standard deviation </p>
<p>Take long position: If the current UST 10Yr Swap falls below the historical average price minus on standard deviation</p>


<p>Take previous position: If the current UST 10Yr Swap is in other cases</p>
</body>
</html>
